{
  "clones_dir": "../clones",
  "repos": [
    {
      "name": "pilot-repo-a",
      "url": "ssh://git@your-forge/org/pilot-repo-a.git"
    },
    {
      "name": "pilot-repo-b",
      "url": "ssh://git@your-forge/org/pilot-repo-b.git"
    }
  ]
}
